html, body{
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'DIN Alternate Bold';
}

@font-face {
  font-family: 'DIN Alternate Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Alternate Bold'), url('DINAlternate-Bold.woff') format('woff');
}

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;

}

.background-image{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("./Road_Long_Exposure.jpg") no-repeat fixed 50% 50%;
  background-size: cover;
}

.background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: 0.2;
}

.header{
  background: rgba(0, 0, 0, 0.8);
  width: 25vw;
  margin: 220px 0 0 150px;
}

.header-title{
  font-family: 'DIN Alternate Bold';
  font-size: 4vw;
  color: white;
  padding-left: 10px;
}

.sub-header{
    margin: 100px 0 0 150px;
}

.sub-header-title{
    font-family: 'DIN Alternate Bold';
    font-size: 2vw;
    color: #0ccf3a;
}

nav{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
  font-family: 'DIN Alternate Bold';
}

ul {
  list-style-type: none;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-flow: wrap;


}

ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: 0.5s;
  font-size: 24px;
}

ul li a:hover {
  color: #509A06;
  text-decoration: none;
}

ul ul {
  position: absolute;
  min-width: 150px;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

ul ul li {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

ul li:hover ul {
  display: block;
}

.menu{
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  padding: 0.6em;
  cursor: pointer;
}

@media(max-width: 768px) {
  .menu{
    display: block;
  }


  ul {
    display: none;
    position: static;
    background: rgba(0, 0, 0, 0.8);
  }

  ul li {
    display: block;
  }

  ul ul {
    position: static;
    background: rgba(0, 0, 0, 0.6);
  }
}

.background{
  background: url("test.png");
  width: 100%;
  background-size: contain;
}

.intro-wrapper{
  width: 100%;
  position: relative;
  padding-top: 25px;
  margin-bottom: 20vh;
}

.intro-text{
  width: 65%;
  margin-top: 25px;
  margin-left: 15%;
  color: white;
  display: flex;
  justify-content: left;
  font-size: 1.2rem;
}

.workStreams-wrapper{
  width: 100%;
  position: relative;
  padding-top: 25px;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
}

h1{
  color: white;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'DIN Alternate Bold';
  letter-spacing: 2px;
  font-size: 4rem !important;
}

h3{
  color: #509A06;
  font-size: 1.8rem !important;
}

.work-stream-title{
  display: flex;
  justify-content: left;
  font-family: 'DIN Alternate Bold';
}

.work-stream{
  width: 80%;
  margin-top: 25px;
  margin-left: 15%;
}

.work-stream-summary{
  width: 80%;
  color: white;
  display: flex;
  justify-content: left;
  font-family: 'DIN Alternate Bold';
  font-size: 1.3rem !important;
}

.ourTeam-wrapper{
  width: 100%;
  position: relative;
  padding-top: 25px;
  text-align: center
}

.team-table{
  margin-top: 25px;
  width: 90%;
  display: inline-block;
}

.row {
  z-index: 1;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left;
}

.cardd {
  border: 1px solid rgba(255,255,255, 0.8);
  height: 220px;
  -webkit-transition: 1s !important;
}

.row h5 {
  color: #fff;
  margin: 48px 0 2px 4px;
  font-size: 20px;
}

.row h5:before {
  position: absolute;
  content: "";
  top: 48px;
  left: 10px;
  width: 3px;
  height: 20px;
  display: block;
  background: #fff;
}

.profile-title {
  color: #509A06;
  margin-left: 4px;
  font-size: 18px;
  margin-bottom: 70px !important;
}

.profile-link {
  margin-left: 4px;
  color: lightgrey !important;
  font-family: Poppins;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.profile-link:hover {
  text-decoration: none !important;
  color: #509A06 !important;
}

.cardd:hover:before {
  -webkit-transition: 1s !important;
  content: "";
  position: absolute;
  top: -100px;
  left: 100px;
  width: 280px;
  height: 280px;
  z-index: 1;
  animation: anim 3.2s ease-in-out;
}

.card1.cardd:hover::before {
  background: url(Liana.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.card2.cardd:hover::before {
  background: url(Craig.jpeg) no-repeat 50% 50%;
  background-size: cover;
}
.card3.cardd:hover::before {
  background: url(team3.jpg);
}

.card4.cardd:hover::before {
  background: url(team1.jpg);
}
.card5.cardd:hover::before {
  background: url(team2.jpg);
}
.card6.cardd:hover::before {
  background: url(team3.jpg);
}

.card7.cardd:hover::before {
  background: url(team1.jpg);
}
.card8.cardd:hover::before {
  background: url(team2.jpg);
}

@keyframes anim {
  0% {
    opacity: 0;
    left: 70px;
  }

  20% {
    opacity: 1;
    left: 120px;
  }

  100% {
    opacity: 1;
    left: 120px;
  }
}

@media only screen and (max-width: 900px) {

  .cardd {
    height: 100px;
  }

  .row h5 {
    margin: 28px 0 2px 4px;
  }

  .row p {
    margin-bottom: 10px !important;
  }

  .row h5::before {
    top: 26px;
  }

  .cardd:hover::before {
    display: none;
  }
}

.footer {
  width: 100%;
  height: 5vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: black;
  padding: 1.5rem;
}

.copyright-text{
  margin-left: 50px;
}

.copyright{
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px;
}

.footer-links{
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px;
  padding: 0 15px 0 15px;
}
.footer-links a{
  text-decoration: none;
  color: white;
}

.footer-links a:hover{
  text-decoration: none;
  color: #509A06;
}

.work-stream-link{
  text-decoration: none;
  color: #509A06;
}

.work-stream-link:hover{
  text-decoration: none;
  color: darkolivegreen;
}

.contact-wrapper{
  height: 90vh;
  width: 100%;
  background-color: black;
  position: relative;
}


.contact-title{
  position: relative;
  width: 80%;
  height: 20vh;
  margin: auto;
  padding-top: 15vh;
}

.contact-intro{
  width: 80%;
  height: 8vh;
  margin: auto;
  position: relative;
  font-family: 'DIN Alternate Bold';
}

.contact-intro p{
  color: white;
  letter-spacing: 0.5px;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 40px;
}

.contact-cards{
  width: 80%;
  margin: 25px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.contacts{
  padding: 50px 150px 0 0;
}

.contact-cards p{
  color: white;
  font-size: 18px;
  font-family: 'DIN Alternate Bold';
}

.boardmembers-wrapper{
  width: 100%;
  margin: auto;
}

.boardmembers-header{
  width: 80%;
  margin: auto;
  height: 25vh;
  display: flex;
  justify-content: center;
}

.boardmembers-title{
  margin-top: 12vh;
  font-family: 'DIN Alternate Bold';
}

.board-members{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.board-members p{
  color: white;
  font-family: 'DIN Alternate Bold';
  font-size: 24px;
}

.boardmember-name{
  font-size: 22px;
}

.boardmember-position{
  font-size: 18px;
  color: #509A06 !important;
}

.board-member{
  padding: 50px;
}

.events-post-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  background: url("test.png");
  background-size: cover;
}

.event{
  width: 90%;
  max-width: 98rem;
  padding: 5rem;
  box-shadow: 0 1.4rem 8rem rgba(255, 255 ,255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  color: white;
  font-family: "DIN Alternate Bold";
}

.event-image{
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-4rem);
  position: relative;
}

.event-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.event-date span{
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.5rem 0;
  font-family: "DIN Alternate Bold";
  color: white;
}

h4{
  font-size: 2.5rem;
  margin: 1.5rem 0.2rem;
  text-transform: uppercase;
  color: #509A06 !important;
}

.event-info p{
  margin-bottom: 3rem;
  font-size: 1.2rem;
  color: white;
}

.event-link{
  display: inline-block;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  border-radius: 0.8rem;
  background: linear-gradient(to right, #636363 0%, #383838 100%);
  text-decoration: none;
}

.event-link:hover{
  background: linear-gradient(to right, #383838 0%,#636363 100%);
  text-decoration: none;
  color: #509A06;
}

@media screen and (max-width: 1068px){
  .event{
    max-width: 80rem;
  }

  .event-image{
    min-width: 30rem;
    max-width: 30rem;
    transform: translateX(0rem);
  }
}

@media screen and (max-width: 868px){
  .event{
    max-width: 70rem;
  }

}

@media screen and (max-width: 768px){
  .event{
    padding: 2.5rem;
    flex-direction: column;
  }

  .event-image{
    min-width: 90%;
    max-width: 90%;
  }
}
